{% extends "base.html" %}

{% block title %}Quiz - {{ anime | capitalize }}{% endblock %}
{% block header %}Quiz for {{ anime | capitalize }}{% endblock %}

{% block content %}
<div class="quiz-container">
    <h2>Question {{ current_question_index + 1 }} of {{ total_questions }}</h2>
    <div class="question-box">
        <p>{{ questions[current_question_index].question }}</p>
        <form action="/quiz?anime={{ anime }}" method="post">
            {% for option in questions[current_question_index].options %}
            <div class="option">
                <input type="radio" id="{{ option }}" name="answer" value="{{ option }}" required>
                <label for="{{ option }}">{{ option }}</label>
            </div>
            {% endfor %}
            <input type="hidden" name="current_question" value="{{ current_question_index }}">
            <button type="submit" class="quiz-button">Next</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color: #121212;
        color: white;
        font-family: Arial, sans-serif;
    }

    .quiz-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        background-color: #1c1c1c;
    }

    .question-box {
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        background-color: #282828;
    }

    .option {
        margin: 10px 0;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .quiz-button {
        padding: 10px 15px;
        background-color: #4A90E2;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .quiz-button:hover {
        background-color: #357ABD;
    }
</style>
{% endblock %}